name: Automated-Build

on:
  workflow_dispatch:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        eth: ["ETH=0", "ETH=1"]
        bdmstuff: ["EXFAT=0", "EXFAT=1", "EXFAT=1 MX4SIO=1"]
        ds34: ["DS34=0", "DS34=1"]
        xfrom: ["XFROM=0", "XFROM=1"]
#        sior: ["SIO_DEBUG=0", "SIO_DEBUG=1"]
#        udptty: ["UDPTTY=0", "UDPTTY=1"]
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:v1.0
    steps:

    - name: Install dependencies
      run: |
        apk add build-base git zip

    - uses: actions/checkout@v3
    - run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch --prune --unshallow

    - name: Install ps2eth
      run: |
        git clone https://github.com/ps2dev/ps2eth.git
        cd ps2eth && make clean all install

    - name: Compile wLaunchELF without network
      run: |
        make rebuild ${{ matrix.eth }} ${{ matrix.sior }} ${{ matrix.bdmstuff }} ${{ matrix.ds34 }} ${{ matrix.xfrom }}

    - name: Upload variants artifact ELF
      uses: actions/upload-artifact@v3
      with:
        name: WLE
        path: |
            BOOT*.ELF
    
####################################################### 
  release:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    steps:


    - uses: actions/checkout@v3
    - run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch --prune --unshallow

    - name: Download all artifacts
      uses: actions/download-artifact@v3

    - name: list
      run: |
        ls -R

    - name: Create release
      if: github.ref == 'refs/heads/master'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: "Latest automated build"
        files: |
               WLE/*.ELF

    - name: Create release
      if: github.ref == 'refs/heads/master'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "language-files"
        title: "Translations"
        files: |
               Lang/*.LNG

  trigger-auto-update:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [release]
    strategy:
      matrix:
        repos: [israpps/FreeMcBoot-Installer, israpps/Funtuna-Fork, israpps/DiagBox, israpps/PlayStation2-Basic-BootLoader]
    steps:
    - name: trigger israpps auto-update system
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
      uses: peter-evans/repository-dispatch@v1
      with:
          token: ${{ secrets.IUS }}
          repository: ${{ matrix.repos }} 
          event-type: Component_update
          client-payload: '{"sha": "${{ github.sha }}"}'
