name: Automated-Build

on:
  workflow_dispatch:
    inputs:
      make_args:
        description: pass extra make argumments to control features not explicitly handled by CI
  push:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        eth: ["ETH=0", "ETH=1"]
        bdmstuff: ["EXFAT=0", "EXFAT=1", "EXFAT=1 MX4SIO=1"]
        ds34: ["DS34=0", "DS34=1"]
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:v1.0
    steps:

    - name: Install dependencies
      run: |
        apk add make git zip

    - uses: actions/checkout@v3
    - run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch --prune --unshallow

    - name: Install ps2eth
      run: |
        git clone https://github.com/ps2dev/ps2eth.git
        cd ps2eth && make clean all install

    - name: Compile wLaunchELF
      run: |
        make rebuild ${{ matrix.eth }} ${{ matrix.sior }} ${{ matrix.bdmstuff }} ${{ matrix.ds34 }} ${{ matrix.xfrom }} ${{ github.event.inputs.make_args }}

    - name: Upload variants artifact ELF
      uses: actions/upload-artifact@v3
      with:
        name: WLE
        path: |
            BOOT*.ELF
#######################################################
  build_iso:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        eth: ["ETH=0", "ETH=1", "ETH=1 UDPTTY=1", "ETH=1 UDPTTY=0 SIO_DEBUG=1"]
        bdmstuff: ["EXFAT=0", "EXFAT=1"]
        iopreset: ["IOP_RESET=0", "IOP_RESET=1"]
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:v1.0
    steps:
  
    - name: Install dependencies
      run: |
        apk add make git zip cdrkit
  
    - uses: actions/checkout@v3
    - run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch --prune --unshallow
  
    - name: Install ps2eth
      run: |
        git clone https://github.com/ps2dev/ps2eth.git
        cd ps2eth && make clean all install
  
    - name: Compile wLaunchELF ISO Image
      run: |
        make rebuild isoclean iso ${{ matrix.eth }} ${{ matrix.bdmstuff }} ${{ matrix.iopreset }} PACK_ISO=YES ${{ github.event.inputs.make_args }}

    - name: Upload variants artifact ELF
      uses: actions/upload-artifact@v3
      with:
        name: WLE_ISO
        path: |
          wLE_ISR_ISO*.zip
    
####################################################### 
  release:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [build, build_iso]
    steps:

    - uses: actions/checkout@v3
    - run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch --prune --unshallow

    - name: Download all artifacts
      uses: actions/download-artifact@v3

    - name: list
      run: |
        ls -R

    - name: Create release
      if: github.ref == 'refs/heads/master'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: "Latest automated build"
        prerelease: false
        files: |
               WLE/*.ELF

    - name: Create release
      if: github.ref == 'refs/heads/master'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "language-files"
        title: "Translations"
        files: |
               Lang/*.LNG

    - name: Create release
      if: github.ref == 'refs/heads/master'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "iso"
        title: "wLaunchELF ISO Images"
        files: |
          WLE_ISO/*.zip

  trigger-auto-update:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [release]
    strategy:
      matrix:
        repos: [israpps/FreeMcBoot-Installer, israpps/Funtuna-Fork , israpps/PlayStation2-Basic-BootLoader]
    steps:
    - name: trigger israpps auto-update system
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
      uses: peter-evans/repository-dispatch@v1
      with:
          token: ${{ secrets.IUS }}
          repository: ${{ matrix.repos }} 
          event-type: Component_update
          client-payload: '{"sha": "${{ github.sha }}"}'
